* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: auto;
}

header {
    align-items: center;
    background-color: #E2D5E7;
    display: flex;
    height: 120px;
    width: 100%;
}

header img {
    height: 100px;
    width: auto;
}

header h1 {
    color: #FF0000;
    margin-left: 20px;
}

header nav {
    position: absolute;
    right: 5px;
}

header nav ul {
    line-height: 28px;
}

header nav ul .btn-outline-secondary {
    background-color: #007bff;
}

header nav ul .btn-outline-secondary:hover {
    background-color: #cccccc;
}

header nav ul li:hover {
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: none;
}