*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}
header
{
	align-items: center;
	background-color: rgb(255, 255, 255);
	display: flex;
	height: 120px;
	width: 100%;
}
header > img
{
	height: 100px;
	width: auto;
	margin-left: 30px;
}
header > h1
{
	color: #FF0000;
	margin-left: 20px;
}
header > nav
{
	position: absolute;
	right: 5px;
}
header > nav > ul
{
	line-height: 28px;
}
header > nav > ul > li
{
	background-color: #40e0d0b6;
	border: 1px solid #f1fcfc;
	border-radius: 4px;
	display: inline-block;
	list-style: none;
}
header > nav > ul > li:hover
{
	background-color: #f1fcfc;
	/*font-weight: bold;*/
}
header > nav > ul > li > a
{
	color: #000000;
	font-size: 20px;
	padding: 10px;
	text-decoration: none;
}

