* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: auto;
}

#ppal {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    justify-content: center;
    line-height: 50px;
    margin: 0;
}


/* ***** Header ***** */

#ppal header {
    display: flex;
    height: 120px;
    align-items: center;
    width: 100%;
}

#ppal header img {
    height: 100px;
    width: auto;
}

#ppal header h1 {
    color: rgb(2, 20, 82);
    margin-left: 20px;
}

#ppal header nav {
    position: absolute;
    right: 5px;
}

#ppal header nav ul .btn-outline-secondary {
    background-color: #007bff;
}

#ppal header nav ul .btn-outline-secondary a {
    color: #ffffff;
}

#ppal header nav ul .btn-outline-secondary:hover {
    background-color: #cccccc;
}

#ppal header nav ul li:hover {
    font-weight: bold;
}

#ppal header nav ul li a:hover {
    text-decoration: none;
}


/* ***** Header ***** */

#ppal h2 {
    font-size: 30px;
    margin-top: 20px;
}

#ppal h3 {
    color: rgb(0, 0, 255);
    font-size: 40px;
    margin-top: -70px;
}

#admin {
    margin-bottom: 120px;
}

#adminEstados {
    margin-bottom: 3px;
}