#ppal,
#ppal>h2,
#ppal>h3 {
    text-align: center;
    width: 100%;
}

#ppal {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: center;
    line-height: 50px;
    margin: 0;
}

#ppal h2 {
    font-size: 30px;
    margin-top: 20px;
}

#ppal h3 {
    color: rgb(0, 0, 255);
    font-size: 40px;
    margin-top: -70px;
}

#admin {
    margin-bottom: 120px;
}

#adminEstados {
    margin-bottom: 3px;
}